@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@media screen and (min-width : 650px){
  .navbar-header{
    max-width: 100%; 
  }
}


.about-mntc {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 320px ;
  margin: 8px;
  max-width: 400px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.about-mntc * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about-mntc img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:inherit;
  align-self: center;
  object-fit:fill;
  vertical-align: top;
}
.about-mntc figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
.about-mntc h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.about-mntc h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.about-mntc blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}
.about-mntc a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.about-mntc:hover figcaption,
.about-mntc.hover figcaption {
  height: calc(85%);
}

.about-mntc-cover{
  padding-top: 80px ;  
}

body {
  background-image: url('background-cover.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat ;
  text-align: center;
}