@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.about-college {
  margin: 30px ;
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  text-align: left;
  max-width: 1600px ;
  
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.about-college *,
.about-college *:before,
.about-college *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.about-college img {
  float: right ;
  backface-visibility: hidden;
  vertical-align: top;
  width: 90% ;
}

.about-college:before,
.about-college:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.about-college:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.about-college:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.about-college figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.about-college figcaption:before,
.about-college figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.about-college figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.about-college figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.about-college h3,
.about-college p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.about-college h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.about-college p {
  font-size: 1.1em;
  text-align: justify; 
}

.about-college a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.about-college:hover h3,
.about-college.hover h3,
.about-college:hover p,
.about-college.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.about-college:hover:before,
.about-college.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.about-college:hover:after,
.about-college.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.about-college:hover figcaption:before,
.about-college.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.about-college:hover figcaption:after,
.about-college.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.aavishkar p{
  text-align: justify;
  font-size: 20px ;
}

/* Client Logos */
.client-logos{ width:100%;}
.client-logos h6{color:#fff; margin-bottom:20px; position:relative; z-index:2;}
.client-logos .box{ width:100%; padding:20px 0; border:1px solid rgba(255,255,255,0.3); position:relative; z-index:2;}
.client-logos .box{ cursor:url(../images/drag-cursor.png), move;}
.client-logos .box img{ width:100%;}
.client-logos .box img {-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);}
.client-logos .item{ width:100%; float:left;}
.client-logos .logos-list{ width:100%; float:left;} 


body {
  background-color: #d7e6e8;
  text-align: center;
}