@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.intro-box {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 200px ;
  margin: 8px;
  width: 100%;
  color: #ffffff;
  text-align: justify;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.intro-box * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.intro-box img {
  height: 200px;
  max-width: 100%;
  vertical-align: top;
}
.intro-box h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.intro-box h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.intro-box blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}
.intro-box a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.intro-box:hover figcaption,
.intro-box.hover figcaption {
  height: calc(80%);
}